---
import Header from "../components/Header.astro";
import "/styles/index.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vux</title>
</head>
<body>
    <Header />
	<main>
		<section>
			<h1>
				¿Qué es exactamente Vux?
			</h1>
			<p>
				Vux es una extensión de HTML para el servidor hecha con JavaScript. Vux tiene su propio transpilador HTML, CSS y JS. De esta forma, todos los scripts son transpilados a código nativo.
			</p>
		</section>
		<section>
			<h1>
				¿Rápido?
			</h1>
			<p>
				La transpilación de Vux es casi instantania. Sin minificar, ronda a los 1-10ms. Vux se compila cada vez que se accede al sitio, aun que se le puede añadir un sistema para cachear los scripts.
			</p>
		</section>
	</main>
</body>
</html>